<table id="activeTradePartial" class="display shadow-md rounded-lg" style="width:100%; border: none;">
	<thead class="bg-blue text-white">
			<tr>
					<th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2 rounded-tl-lg">Item ID</th>
					<th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Item Name</th>
					<th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Current Price</th>
					<th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2 rounded-tr-lg">Date</th>
			</tr>
	</thead>
	<tbody>
		<% @filtered_active_trades_for_csgoempire.each do |active_trade_item| %>
			<tr>
					<td class="border-r border-r-[#acadaf9c] text-sm text-center px-4 py-2"><%= active_trade_item['item_id'] %></td>
					<td class="border-r border-r-[#acadaf9c] text-sm text-center px-4 py-2"><%= active_trade_item['market_name'] %></td>
					<td class="border-r border-r-[#acadaf9c] text-sm text-center px-4 py-2"><%= "$#{(active_trade_item['price'].to_f / 1000).round(4)}" %></td>
					<td class=" text-sm text-center px-4 py-2"><%= Time.parse(active_trade_item['date']).strftime("%d/%B/%Y") %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<script>
    $('#activeTradePartial').DataTable({
        paging: true,
        pageLength: 10, 
         language: {
        search: "_INPUT_",
        searchPlaceholder: "Search...",
      }// Number of records per page
        // Other DataTables options...
    });
</script>